*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
   font-family: 'Source Sans 3', sans-serif;
}
.nav{
   background-color: #00157c;
   padding: 30px 16px;
   width: 100%; 
   align-items: center;
   color: white;
   display: flex;
   justify-content: space-between;
   height: 3rem;
}
.fav{
    background-color: blue;
}
.nav img{
    height: 1.3125rem;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav p{
    font-size: 14px;
}
.nav-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 0.5rem;
}
.subscribe{
    display: flex;
    grid-column-gap: 0.5rem;
    justify-content: space-between;
    padding: 8px 10px 8px 11.67px;
    border: 1px solid white;
    justify-content: space-evenly;
    border-radius: 10px;
}
.subscribe:hover{
    color: #000625;
    background-color: white;

}
.dropdowns{
    display: flex;
    width: 70%;
    min-width: 500px;
    justify-content: space-between;
    border-right: 1px solid white;
    padding: 0 15px;
    align-items: center;
}
.dropdowns a:hover{
    background-color: white;
    color: #00157c;
}
.dropdowns a{
    padding: 5px;
    border-radius: 5px;
}
.dropdowns i{
    font-size: 10px;
    transition: .5s ease;
}
.dropdowns div:hover i{
    transform: rotate(180deg);
}
.dropdowns>a div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.droppee a .dropbtn{
    display: inline-block;
}
.droppee.dropbtn{
    display: inline-block;
}
.dropdowns a>div:hover, .droppe:hover .dropbtn{
    background-color: red;
}
.dropdown-content{
display: none;
position: absolute;
background-color: yellow;
z-index: 1;
}
.dropdown-content a{
    color: black;
    display: block;
}
.dropdown-content a:hover{
    background-color: green;
}
.droppe:hover .dropdown-content{
    display: block;
}
*/

.search{
    margin-left: 10%;
}
.first-body{
    padding: 0 20px;
}
.header h2{
    color: #00157c;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.625rem;
    font-weight: 700;
}
.header{
    margin-top: 2rem;
    padding: 0 0 10px;
    border-bottom: 1px solid #cccce7;
}
.first-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #cccce7;
}
.first-section h3{
    font-size: 32px;
    color: #1b1b1b;
    text-decoration: none;
}
.text-con1 h3:hover{
    color: #3557ff;
}
.first-section p{
    font-size: 18px;
    color: #676767;
}
.first-section a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.img-con1{
    width: 40%;
    border-radius: 5px;
}
.img-con1 img{
    width: 100%;
    transition: .5s ease;
    object-fit: cover;
    border-radius: inherit;
}
.image-con11{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img-con1 img:hover{
    transform: scale(1.1);
}
.text-con1{
    width: 55%;
}
.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
.section2 img{
    width: 100%;
    border-radius: 0.25rem;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}
.section2-div{
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.section2 img:hover{
    transform: scale(1.2);
}
.section2 a>div{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 0.54em;
    align-items: center;
    width: 90%;
    height: 100%;
    color: black;
}
.head3{
    border-bottom: 1px solid #cccce7;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.head3>h3:nth-child(1){
     color: #00157c;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.625rem;
    font-weight: 700;
}
.head3 a{
    color: blue;
}
.images3{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1.5rem;
    min-width: 55rem;
    margin-top: 3rem;
}
.images3>div{
    width: 20%;
}
.images3 a{
    position: relative;
    color: white;
}
.images3 img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.3125rem;
    transition: .5s ease;
}
.images3 img:hover{
    transform: scale(1.1);
}

.child3{
    position: absolute;
   bottom: .5rem;
   width: 100%;
   text-align: center;
}
.child3 h3{
    text-align: center;
    font-size: 24px;
    margin: 0 0 11px;
}
.head4{
    border-bottom: 1px solid #cccce7;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-top: 3rem;
}
.head4>h3:nth-child(1){
     color: #00157c;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.625rem;
    font-weight: 700;
}
.head4 a{
    color: blue;
}
.section4{
    margin-top: 20px;
}
.section5{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 4rem;
    min-width: 55rem;
    border-radius: 0.25rem;
    background-color: #edf0ff;
    margin-top: 3rem;
}
.section5 a{
    margin: 0 9.5px;
    padding: 8px 0 20px;
    min-width: 23%;
    color: black;
}
.section5 a i{
    color: #3557ff;
}
.section5 a>div{
    display: flex;
    align-items: center;
    grid-column-gap: 1.5rem;
}
.section5 a:nth-child(-n+4){
    border-bottom: 1px solid #cccce7;
}
.section6{
    margin: 3rem 0;

    row-gap: 3.75rem;
}
.section6 a{
    color: black;
}
.section6 a:hover{
    color: #3557ff;
}
.section6-1{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.section6-11{
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
}
.section6-11 img{
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
    border-radius: inherit;
}
.section6-11 img:hover{
    transform: scale(1.1);
}
.section6-1 h3{
    font-size: 40px;
    margin: 14px 0 6px;
}
.section6-1 p{
    font-size: 22px;
}
.section6-2{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    column-gap: 2rem;
    font-size: 24px;
}
.section6-2>div{
    width: 30%;
    padding: 0 5px;
}
.section6-2 div:nth-child(-n+2){
    border-right: 1px solid #cccce7;
}
.section6-2 a{
    color: black;
}
.blue{
    background-color: #00157c;
    width: 100%;
    padding: 3.75rem 2rem;
    color: white;
}
.blue-img{
   /* background-color: #e1855b;*/
    border-radius: 50%;
    overflow: hidden;
}
.blue-img img{
    background-color: #e1855b;
    border-radius: 50%;
}
.blue a{
    color: white;
}
.blue-text{
    padding: 0 0 0 15px;
}
.blue-text p{
    margin: 8px 0;
    font-size: 18px;
}
.blue-text p:nth-child(2){
    font-size: 22px;
}
.blue1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
}
.blue2{
    display: flex;
}
.blue2-1{
    margin: 0 16px 0 0;
    padding: 0 56px 0 0;
    width: 90%;
    font-size: 40px;
}
.blue2-1 img:nth-child(1){
    width: 100%;
}
.blue2-1 img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
}
.multi-images{
    display: flex;
}
.blue2-2-images{
    width: 40%;
}
.blue2-2-images img{
    width: 100%;
}
.blue2-21{
    position: relative;
 
}
.blue2-2{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue2-21 img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    border-radius: 0 5px 0 5px;
}
.blue2-21 img:nth-child(1){
    width: 100%;
    border-radius: 5px;
}
.blue2-2{
    row-gap: 1.875rem;
}
.blue2-22 h3{
    font-size: 24px;
    margin: 0 0 11.5px;
    padding: 0 0 0 15px;
}
.second-body{
    padding: 0 20px;
}
.special-text{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    margin-top: 3rem;
}
.special-text1{
     width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.special-text1 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: .5s ease;
}
.special-text1 img:hover{
    transform: scale(1.1);
}
.special-text a div:nth-child(odd){
    height: 300px;
}
.special-text a div:nth-child(even){
    padding: 20px;
}
.special-text a h3{
    font-size: 24px;
    margin: 0 0 4px;
    color: #1b1b1b;
}
.special-text a p{
    font-size: 18px;
    color: #4a4a4a;
}
.special-text a span{
    color: #00157c;
    font-size: 14px;
}
.special-text a h3:hover{
    color: #00157c;
}
.trending{
    margin: 15rem 0 5rem 0;
}
.trending ul div{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin-top: 3rem;
}
.trending ul a{
    color: blue;
}
.trending div li{
    background-color: white;
    padding: 8px 16px;
    border-radius: 30px;
    transition: .4s ease-in-out;
}
.trending div li:hover{
    background-color: lightblue;
}
.feature{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    margin-top: 3rem;
}
.feature1{
      width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.feature1 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: .5s ease;
}
.feature1 img:hover{
    transform: scale(1.1);
}
.feature a div:nth-child(odd){
    height: 300px;
}
.feature a div:nth-child(even){
    padding: 20px;
}
.feature a h3{
    font-size: 24px;
    margin: 0 0 4px;
    color: #1b1b1b;
}
.feature a p{
    font-size: 18px;
    color: #4a4a4a;
}
.feature a span{
    color: #00157c;
    font-size: 14px;
}
.feature a h3:hover{
    color: #00157c;
}
.form{
    background-color: #00157c;
    margin: 15rem 0 0 0;
    padding: 2.75rem 3.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    column-gap: 12rem;
    align-items: center;
}
label{
    font-size: 18px;
    padding: 0 0 0 10px;
}
.form h2{
    font-size: 36px;
    margin: 0 0 8px;
}
.checkbox{
    padding: 24px 0 16px;
    display: flex;
    gap: .5rem;
}
/*
.checker{
    color: #00157c;
    position: relative;
}
.checked{
    background-image: url(https://img.webmd.com/vim/live/webmd/consumer_assets/site_images/home_page/checkbox-tick.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #00157c;
    border: 0.1875rem solid #cccce7;
    width: 3.375rem;
    height: 1.375rem;
    border-radius: 0.375rem;
}
*/
/*input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    border: 2px solid #cccce7;
    border-radius: 5px;
}
input[type="checkbox"]:checked{
    background-color: red;
}
input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #fff;
}
input[type="checkbox"]+label::after{
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked+label::after{
    display: block;
}*/
input[type="checkbox"]{
    width: 20px;
}
.email>div{
    padding: 10px 24px;
    background-color: white;
    width: 70%;
    border-radius: 5px 0 0 5px;
}
.email{
    display: flex;
    width: 100%;
}
button{
    background-color: #b3b3b3;
    max-width: 11rem;
    color: #767674;
    width: 30%;
    border-radius: 0 5px 5px 0;
}
.email input[type="text"]{
    width: 100%;
}
.email input, .email button{
    outline: none;
    border: none;
}
.email{
    border-radius: 5px;
}
.terms{
    font-size: 12px;
    margin: 16px 0 24px;
    color: #e7f0fe;
}
.terms a{
    color: white;
}
.newsletters{
    border: 2px solid white;
    border-radius: 3px;
   width: 45%;
    padding: 8px 16px;
    text-align: center;
}
.newsletters a{
    color: white;
}
.patient{
    display: flex;
    column-gap: 2rem;
    margin-top: 3rem;
}
.patient>div{
    width: 25%;
}
.patient-img{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.ab-link{
    position: absolute;
    top: 4%;
    left: 4%;
    padding: 2px 5px;
    background-color: white;
}
.patient-img img{
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}
.patient-img img:hover{
    transform: scale(1.2);
}
.patient a{
    color: black;
}
.patient a:hover{
    color: blue;
}
.patient div div:nth-child(2){
    color: #676767;
    line-height: 1.6rem;
}
/*
.patient div:nth-child(2){
    padding: 12px 0 8px;
}
*/

.sick{
    padding: 0.75rem 0 .5rem 0;
    text-align: center;
    font-size: 16px;
}
.sick div{
    border-bottom: 1px solid #cccce7;
}
.patient div div:nth-child(3){
    padding: 15px 12px 4px 20px;
}
.patient i{
  color: blue;
  height: 25px;
}
.tools{
    display: flex;
    margin-top: 3rem;
    padding: 0 0 40px;
    border-bottom: 1px solid #cccce7;
}
.tools>div{
    width: 20%;
}
.tools img{
    width: 100%;
}
.tools h3{
    font-size: 24px;
    text-align: center;
    color: black;
}
.tools a h3:hover{
    color: blue;
}
.trend{
    margin: 2rem 0 3rem 0;
}
.trend ul div{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin-top: 3rem;
}
.trend ul a{
    color: blue;
}
.trend div li{
    background-color: white;
    padding: 8px 16px;
    border-radius: 30px;
    transition: .4s ease-in-out;
}
.trend div li:hover{
    background-color: lightblue;
}
.section7{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 4rem;
    min-width: 55rem;
    border-radius: 0.25rem;
    background-color: #edf0ff;
    margin-top: 3rem;
}
.section7 a{
    margin: 0 9.5px;
    padding: 8px 0 20px;
    min-width: 23%;
}
.section7 a>div{
    display: flex;
    align-items: center;
    grid-column-gap: 1.5rem;
}
.section7 a:nth-child(-n+36){
    border-bottom: 1px solid #cccce7;
}
.section7 h3{
    color: #333132;
}
.section7 a i{
    color: blue;
}
.section7 a h3:hover{
    color: blue;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    column-gap: 2rem;
}
.content>div{
    width: 50%;
}
.content>div img{
    width: 100%;
}
.content h3{
    font-size: 40px;
    margin: 0 0 10px;
    line-height: 3rem;
}
.content-text{
    line-height: 2rem;
}
.content p{
    font-size: 20px;
    margin: 10px 0;
}
.content ul{
    list-style-type: none;
}
.list-num{
    font-size: 38px;
    color: #7384d8;
    padding-right: 1.25rem;
    font-size: 2.375rem;
}
.content li{
    display: flex;
    margin: 20px 0;
}
.list-text{
    font-size: 1.25rem;
}
.learn, .learn a{
    font-size: 18px;
    color: #3557ff;
}
.learn{
    margin: 10px 0;
    padding: 0 30px;
}
.trending2{
    margin: 3rem 0 5rem 0;
}
.trending2 ul div{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin-top: 3rem;
}
.trending2 ul a{
    color: #3557ff;
    padding: 6px 12px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.trending2 div li{
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
    transition: .4s ease-in-out;
}
.trending2 div li:hover{
    color: white;
}

.trending2 div li a:hover{
    color: white;
    background-color: #3557ff;
}
footer{
    margin-top: 3.4rem;
    background-color: #000625;
    padding: 2rem;
    color: white;
}
.footer1{
    padding: 47px;
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
}
.footer1>div{
    width: 50%;
}
.email2>div{
    padding: 10px 24px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    width: 70%;
}
.email2{
    display: flex;
    width: 90%;
    margin: 0 0 20px 0;
}
.email2 input[type="text"]{
    width: 100%;
}
.email2 input, .email2 button{
    outline: none;
    border: none;
}
.email2{
    border-radius: 5px;
}
.socials{
    display: flex;
    justify-content: space-between;
}
.sign-up h3{
    font-size: 24px;
    margin: 8px 0;
}
.sign-up h4{
    margin: 24px 0;
    font-size: 18px;
}
.socials h3{
    font-size: 14px;
}
.separator{
    border-right: 1px solid #cccce7;
    height: 89.5px;
    margin: 0 2.5rem;
}
.download h3{
    font-size: 18px;
    margin: 0 0 6px;
}
.follow>div{
    margin: 12px 0 0;
    font-size: 20px;
    display: flex;
    column-gap: 1rem;
}
.follow>div a{
    color: white;
}
.policy{
    display: flex;
    border-bottom: 1px solid #cccce7;
    column-gap: 3.5rem;
}
.policy a{
    color: white;
    margin: 0 0 12px;
    padding: 4px 8px;
}
.policy a:active{
    background-color: #d2d9ff;
    border-radius: 5px;
    color: #00157c;
}
.policy a:hover{
    background-color: #d2d9ff;
    border-radius: 5px;
    color: #00157c;
}
.partners{
    display: flex;
    padding: 30px 0 16px;
    justify-content: space-between;
    border-bottom: 1px solid #cccce7;
}
.partner{
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: flex-end;
}
.partner1 ul{
    display: flex;
    list-style-type: none;
}
.partner1 li{
    padding: 0 10px 0 0;
    margin: 0 10px 16px 0;
}
.partner1 li:nth-child(-n+5){
    border-right: 1px solid #cccce7;
}
.partner1 a{
    color: white;
}
.partner1{
    column-gap: 3.5rem;
}
.global a{
    color: white;
    text-decoration: underline;
}
.global{
    margin: 16px 0 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.global img{
    width: 110px;
    height: 26px;
}